<div class="flex flex-col min-h-screen">
    <app-header></app-header>
  
    
  <main class="flex-1" >
    
        <div *ngIf="!showShipment" class="min-h-screen bg-gray-100 flex flex-col items-center justify-center px-2">


          <div *ngIf="showToast" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-sm dark:text-gray-400 dark:bg-gray-800" role="alert">
            <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
              <!-- Icono de éxito -->
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
            </div>
            <div class="ms-3 text-sm font-normal">{{toastMessage}}</div>
            <button type="button" (click)="showToast = false" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
              <span class="sr-only">Close</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
          </div>

            <div class="text-center mb-8">
              <img class="w-60 h-auto mb-6 mx-auto" src="../../../assets/images/image.png" alt="Logo de Coordinadora">
              <h1 class="text-3xl font-bold text-gray-800 mb-2">Bienvenido {{ this.username }} </h1>
              <h2 class="text-3xl font-bold text-gray-800 mb-2"> al sistema de gestión de Envios de Coordinadora </h2>
              <p class="text-gray-600">Selecciona una opción para continuar</p>
            </div>
          
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        
              <div class="bg-white rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                <h2 class="text-xl font-semibold text-blue-700 mb-4">📦 Realiza un envío</h2>
                <p class="text-gray-600 mb-4">Crea un nuevo envío y gestiona tus paquetes.</p>
                <button (click)="toggleShipment()" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Ir</button>
              </div>
          
        
              <div class="bg-white rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                <h2 class="text-xl font-semibold text-green-700 mb-4">🔍 Consultar tus envíos</h2>
                <p class="text-gray-600 mb-4">Revisa el estado de todos tus envíos anteriores.</p>
                <button class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700">Consultar</button>
              </div>
          
        
              <div class="bg-white rounded-2xl shadow-md p-6 hover:shadow-lg transition">
                <h2 class="text-xl font-semibold text-purple-700 mb-4">📑 Historial</h2>
                <p class="text-gray-600 mb-4">Visualiza el historial completo de tus operaciones.</p>
                <button class="bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700">Ver historial</button>
              </div>
            </div>
          </div>
          <div class="mt-6" *ngIf="showShipment">
            <app-shipment></app-shipment>
          </div>
    </main>
    
    <app-footer></app-footer>
  </div>
  

  